.is-invalid {
    border-color: red;
}

.daniela {
    margin: 0px 100px 0px 100px;
}

.daniela-textarea {
    margin-bottom: 10px;
}

#merged-psbt-textarea, #signed-psbt-textarea {
    margin-top: 50px;
}

.daniela-table {
    width: 70% !important;
    white-space: nowrap;
    margin: auto;
}

.daniela-table-align-right {
    text-align: right;
}

.daniela-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

.balance-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.balance {
    font-size: 80px;
}

.balance-unconfirmed {
    font-size: 20px;
}

.daniela-button {
    margin-top: 20px;
    margin-right: 5px;
    width: 200px;
    align-self: center;
}

.round-button {
    margin-top: 10px;
    border-radius: 100% !important;
}

.same-line {
    display: flex;
    margin: 10px 0px;
}
